@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
}

/* Base */
body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
.section {
  padding: 48px 0;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  background: var(--color-brand-light);
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
}
.button:hover {
  background-color: transparent;
  color: #465929;
}

/* Link */
.link {
  color: var(--color-primary-light);
  line-height: 1.5;
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  padding: 272px 0;
  margin-bottom: 0;
}
.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title {
  color: var(--color-primary-dark);
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/* Traditions section */
.tradition-section {
  padding-top: 96px;
}
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
.tradition-title {
  margin-bottom: 42px;
}

/* Chef section */
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
.chefs-title {
  margin-bottom: 80px;
}

/* Formats section */
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
.formats-title {
  margin-bottom: 80px;
}

/* Contacts section */
.contacts-title {
  margin-bottom: 16px;
}

/* Footer */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-light);
}
.address-copyright {
  font-size: 14px;
}
