.tradition-section {
  padding-top: 96px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
.tradition-title {
  margin-bottom: 42px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-text.limited {
  max-width: 330px;
}
.traditions-content {
  max-width: 710px;
}